/* Light Theme Colors */ 
:root { 
    --title-color: #000000;
    --link-color: #000000;
    --link-color-hover: #282828;
    --welcome-bg-image : url("./../../resources/images/light-theme-background.jpg")
}

/* Dark Theme Colors */
[data-theme="dark"] {
    --title-color: #FFFFFF;
    --link-color: #FFFFFF;
    --link-color-hover: #CCCCCC;
    --welcome-bg-image : url("./../../resources/images/dark-theme-background.jpg")
}




body{
    background: var(--welcome-bg-image) no-repeat center center fixed;
    background-size: cover;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.boxTitle {
    transform: translateY(-50%);
    text-align: center;
    color: var(--title-color);
}

.title {
    font-size: 84px;
}

.subtitle {
    font-size: 32px;
}
.links > a {
    color: var(--link-color);
    padding: 0 25px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.links > a:hover{
    color: var(--link-color-hover);
}



.full-height {
    height: 100%;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}






/* switch theme style */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    left : 10px;
}
.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display:none;
}

.text-switch {
    font-size : 16px;
    font-weight: bold;
    color: black;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .2s;
}

.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .2s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
  